.NavbarItems {
  padding-right: 100px;
  background: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: 5px 1px 1px #009aa0;
}

.navbar-logo {
  justify-self: start;
  margin-left: 20px;
  margin-top: 100px;
}

.logo {
  margin-left: 20px;
  margin-top: 80px;
  height: 100%;
  width: 67%;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
}

.nav-links {
  color: #4c4c4c;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #c4c4c4;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
